<HTML>
<HEAD>
{% javascripts '@AppBundle/Resources/public/js/*' %}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<style>
  table.scheme { border: 1px solid black; width: 50%; margin-left: auto; margin-right: auto; }
  table.scheme td { border: 1px solid black; width: 20px; height: 20px; text-align: center }
  td.box { background-color: #232323 }
  td.open { background-color: #a9a9a9 }
  td.one_mine { color: #143fdc }
  td.two_mines { color: #12770b }
  td.three_mines { color: #d20000 }
  td.four_mines { color: #5a00d2 }
  td.five_mines { color: #961313 }
  td.six_mines { color: #139096 }
  td.seven_mines { color: #000000 }
  td.eight_mines { color: #7b7878 }
  td.mine-placeholder { background-color: #d20000 }
  #mine-placeholder {
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:4px 11px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-left: 45%;
    margin-right: auto;
    margin-top: 20px;
  }
  .select-mine-placeholder { background-color:#44c767; }
  .remove-mine-placeholder { background-color:#d20000; }

</style>
</HEAD>
<BODY>
<table class="scheme">
  {% for rowIndex, rows in scheme %}
    <tr>
      {% for boxIndex, box in rows %}
          <td id="{{ rowIndex }}-{{ boxIndex }}" class="box"></td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
<button id="mine-placeholder" class="select-mine-placeholder" value="0">Select mine placeholder</button>
</BODY>
</HTML>